.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logoutLink {
  display: flex;
}

.logoutText {
  margin-right: 20px;
  color: white;
}

.logoutWithGoogle {
  padding: 10px 30px;
  border-radius:10px;
  outline: none;
  border: none;
}

.logoutWithGoogle:hover {
  transition: all 0.3s;
  opacity: 0.8;
}